img{
    height:200px;
    width:150px;
}
.header{
    background-color:#f7f2b4;
    height:70px;
}
.header-logo{
    font-size: 20px;
    float:left;
    padding:20px 40px;
}
.btn {
    float:right;
    font-size:18px;
    padding:8px 24px;
}
.main{
    background-color:#bdf7f1;
}
.copy-container {
    padding-top:150px;
    padding-bottom:150px;
    background-image:url("https://github.com/Hironori1123/Homepage/blob/main/Top_new.JPG?raw=true");
    background-size:cover;
}
.copy-container h1{
    font-size:60px;
    width:500px;
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}
.copy-container h2{
    text-align: center;
    font-size:60px;
    width:500px;
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}
.research {
    padding-top:150px;
    padding-bottom:150px;
    background-image:url("https://github.com/Hironori1123/Homepage/blob/main/Research.jpeg?raw=true");
    background-size:cover;
}
.research h1{
    font-size:60px;
    width:500px;
    padding-left:250px;
    padding-right:15px;
    margin:0 auto;
}
.research h2{
    font-size:30px;
    width:650px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
}

.teaching {
    padding-top:150px;
    padding-bottom:150px;
    background-image:url("https://github.com/Hironori1123/Homepage/blob/main/Teaching.jpg?raw=true");
    background-size:cover;
}
.teaching h1{
    font-size:60px;
    width:500px;
    padding-left:250px;
    padding-right:15px;
    margin:0 auto;
}
.teaching h2{
    font-size:30px;
    width:650px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
}

.copy-container h2{
    font-size:30px;
    width:650px;
    padding-left:15px;
    padding-right:15px;
    margin: 0 auto;
}
.contents {
    height:200px;
    font-size:20px;
    padding:20px;
    border-bottom:2px solid black;
    display:flex;
    justify-content:space-evenly;
}

.publications {
    padding:20px;
}

.publications p{
    padding:20px;  
    font-size:20px; 
}


.contents p {
    width:1150px;
}
.updates {
    height:150px;
    padding-left:20px;
    font-size:20px;
}
.footer{
    background-color:#2f5167;
    color:#fff;
    height:40px;
    padding-right:40px;
}
ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}
